* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
}

.grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

#showcase {
    min-height: 450px;
    color: #fff;
    text-align: center;
}

#showcase .header_image {
    position: absolute;
    background-image: url("./assets/images/pexels-photo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.9;
}

.content_wrap {
    grid-column: 2/4;
}

.grid h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

.content_wrap .btn {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: 0.5em 0;
}

.content_wrap .btn:hover {
    color: #000;
    background-color: #fff;
}


/* SECTIONS */


/* section1 */

.main .content_wraper {
    grid-column: 2/4;
}

.content_wraper h2 {
    text-align: center;
}

#section1 {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
    /* min-height: 250px; */
}

#section1 .content-text {
    columns: 2;
    column-gap: 2em;
}